# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# environment
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
coverage/

# cache
.cache/
.turbo/

# system/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
